{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-tailwindcss",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "selector-class-pattern": null,
    "no-descending-specificity": null
  },
  "ignoreFiles": ["**/node_modules/**", "**/dist/**", "**/build/**", "**/public/**"]
}
