---
import { Briefcase, Sparkles, Target, User } from '@lucide/astro';

import Section from './Section.astro';

import { aboutConfig } from '@config/about';

const iconMap = {
  Briefcase,
  Sparkles,
  Target,
};

function calculateAge(birthdate: string): number {
  const birthDate = new Date(birthdate).getTime();
  const ageDifMs = Date.now() - birthDate;
  const ageDate = new Date(ageDifMs);

  return Math.abs(ageDate.getUTCFullYear() - 1970);
}

const age = calculateAge(aboutConfig.birthdate);
---

<Section
  id="about"
  titleId="about-heading"
  title="About"
  class="about-section"
  titleClass="about-title"
  contentClass="about-content"
>
  <User slot="icon" size={28} aria-hidden />
  <div class="about-bio">
    {
      aboutConfig.sections.map(({ content, icon, title }) => {
        const Icon = iconMap[icon];

        return (
          <article class="about-subsection">
            <h3 class="about-subsection-heading">
              <Icon size={18} aria-hidden class="about-subsection-icon" />
              {title}
            </h3>
            <p class="about-subsection-text">{content.replace('{age}', age.toString())}</p>
          </article>
        );
      })
    }
  </div>
</Section>
