---
import type { BlogHeading } from '@blog/types';

interface Props {
  headings: BlogHeading[];
}

const { headings } = Astro.props;

if (headings.length === 0) {
  return null;
}
---

<nav class="blog-toc" aria-label="Table of contents">
  <p class="blog-toc-title">On this page</p>
  <ol class="blog-toc-list">
    {
      headings.map((heading) => (
        <li class:list={['blog-toc-item', `blog-toc-item-depth-${heading.depth}`]}>
          <a href={`#${heading.slug}`} class="blog-toc-link">
            {heading.value}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
